fastapi==0.104.1
passlib[bcrypt]==1.7.4
psycopg2-binary==2.9.9
pydantic-settings==2.1.0
pydantic[email]==2.5.0
pyjwt==2.8.0
python-dotenv
python-jose[cryptography]==3.3.0
python-multipart==0.0.6
sqlalchemy==2.0.23
uvicorn[standard]==0.24.0
google-auth==2.23.4
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.1.1
requests==2.31.0